
{% extends "todo/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10 text-secondary">
            {% if todos %}
                 <h1><big><em >{{ user.username }}</em></big> работает над {{ todos.count }} ToDo{{ todos.count|pluralize }}</h1>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
        {% if todos %}
            <div class="list-group list-group-flush">
                {% for todo in todos %}
                    <a href="{% url 'viewtodo' todo.id %}" class="list-group-item text-info"{% if todo.important %} style="background-color: #fde3f2" {% else %} style="background-color: #e3f2fd" {% endif %}><b>{{ todo.title }}</b>{% if todo.memo %} - {{ todo.memo|truncatechars:30 }}{% endif %}</a>
                {% endfor %}
                <br>
                <a role="button" class="btn btn-outline-success btn-lg btm-block" href="{% url 'createtodo' %}">Добавить ToDo</a>
            </div>
        {% else %}
            <div class="text-center">
                <h2>Нет дел! Хорошая работа.</h2>
            <br>
            <a role="button" class="btn btn-primary" href="{% url 'createtodo' %}">Новое ToDo</a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}